!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %title Sinatra Gallery
    %link{:rel => 'stylesheet', :href => '/assets/application.css'}
  %body
    .top-bar.margin-bottom-1
      .top-bar-left
        %ul.dropdown.menu{'data-dropdown-menu': ''}
          %li.menu-text Sinatra Gallery
          %li
            %a{href: '/images/new'} Upload

    .grid-container.grid-container-padded
      .grid-x.grid-margin-x
        .cell
          = yield
  %script{:src => '/assets/application.js'}
